In [1]:
import base64
import datetime
import itertools
import json
import math
import operator
import os
import pickle
import random
import re
import time

import scipy
from scipy import ndimage
import numpy as np
import pandas as pd
import sklearn
import matplotlib as mpl
import matplotlib.pyplot as plt
from pylab import rcParams
import seaborn as sns
import statsmodels as sm
from pylab import rcParams
from pylab import *
from matplotlib.dates import date2num , DateFormatter
from PIL import Image

np.random.seed(1337)

%matplotlib inline
sns.set(font_scale=1.0)
rcParams['figure.figsize'] = 8, 6
sns.set_style('whitegrid')
sns.set_palette(sns.color_palette('muted'))

/usr/local/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import normalize
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import confusion_matrix
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

/usr/local/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/usr/local/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

# Load the Data

In [3]:
d = pd.concat([pd.read_csv('tmp/train_ids.csv', index_col='id'),
               pd.read_csv('tmp/test_ids.csv', index_col='id')])

In [4]:
e = pd.read_csv('tmp/features_bathrooms.csv', index_col='id')
d = pd.merge(d, e, how='left', left_index=True, right_index=True)

In [5]:
e = pd.read_csv('tmp/features_bedrooms.csv', index_col='id')
d = pd.merge(d, e, how='left', left_index=True, right_index=True)

In [6]:
e = pd.read_csv('tmp/features_building_id.csv', index_col='id')
d = pd.merge(d, e, how='left', left_index=True, right_index=True)

In [7]:
e = pd.read_csv('tmp/features_created.csv', index_col='id')
d = pd.merge(d, e, how='left', left_index=True, right_index=True)

In [8]:
e = pd.read_csv('tmp/features_description.csv', index_col='id')
d = pd.merge(d, e, how='left', left_index=True, right_index=True)

In [9]:
e = pd.read_csv('tmp/features_display_address.csv', index_col='id')
d = pd.merge(d, e, how='left', left_index=True, right_index=True)

In [10]:
e = pd.read_csv('tmp/features_features.csv', index_col='id')
d = pd.merge(d, e, how='left', left_index=True, right_index=True)

In [11]:
e = pd.read_csv('tmp/features_latlon.csv', index_col='id')
d = pd.merge(d, e, how='left', left_index=True, right_index=True)

In [12]:
e = pd.read_csv('tmp/features_manager_id.csv', index_col='id')
d = pd.merge(d, e, how='left', left_index=True, right_index=True)

In [13]:
e = pd.read_csv('tmp/features_photos.csv', index_col='id')
d = pd.merge(d, e, how='left', left_index=True, right_index=True)

In [14]:
e = pd.read_csv('tmp/features_price.csv', index_col='id')
d = pd.merge(d, e, how='left', left_index=True, right_index=True)

In [15]:
e = pd.read_csv('tmp/features_street_address.csv', index_col='id')
d = pd.merge(d, e, how='left', left_index=True, right_index=True)

In [16]:
d.interest_level.value_counts()

low       34284
medium    11229
high       3839
Name: interest_level, dtype: int64

In [17]:
tr = d[d.interest_level.notnull()].copy()
print len(tr)

49352

In [18]:
trl = tr.interest_level.copy()
trf = tr
del trf['interest_level']

In [19]:
for c in trf.columns:
    if trf.dtypes[c] not in ('int64', 'float64'):
        del trf[c]

In [20]:
te = d[d.interest_level.isnull()].copy()
print len(te)

74659

In [21]:
tef = te
del tef['interest_level']

In [22]:
for c in tef.columns:
    if tef.dtypes[c] not in ('int64', 'float64'):
        del tef[c]

In [23]:
tef.head().T

id,0,1,100,1000,100000
bathrooms,1.000000,1.000000,1.000000,1.000000,2.000000
num_bathrooms_bucket,1.000000,1.000000,1.000000,1.000000,2.000000
bedrooms,1.000000,2.000000,1.000000,2.000000,2.000000
num_bedrooms_bucket,1.000000,2.000000,1.000000,2.000000,2.000000
num_apts_in_building,8.000000,NaN,9.000000,2.000000,267.000000
num_apts_in_building_q10,0.100000,NaN,0.100000,0.000000,0.800000
created_month,6.000000,6.000000,6.000000,6.000000,4.000000
created_day_of_month,11.000000,24.000000,3.000000,11.000000,12.000000
created_dow,5.000000,4.000000,4.000000,5.000000,1.000000
created_hour,5.000000,6.000000,4.000000,6.000000,5.000000
created_minute,29.000000,36.000000,29.000000,17.000000,24.000000
created_minute_of_the_day,329.000000,396.000000,269.000000,377.000000,324.000000
created_hour_of_dataset,1709.000000,2022.000000,1516.000000,1710.000000,269.000000
created_distance_from_peak,1.000000,54.000000,61.000000,-47.000000,6.000000
created_distance_from_peak_abs,1.000000,54.000000,61.000000,47.000000,6.000000
num_apts_same_hour,358.000000,238.000000,130.000000,270.000000,395.000000
num_apts_prev_hour,381.000000,260.000000,225.000000,334.000000,160.000000
num_apts_next_hour,321.000000,276.000000,235.000000,100.000000,553.000000
num_apts_same_3hours,866.000000,793.000000,981.000000,644.000000,856.000000
num_apts_prev_3hours,883.000000,732.000000,909.000000,940.000000,865.000000
num_apts_next_3hours,370.000000,591.000000,618.000000,101.000000,563.000000
num_apts_same_9hours,1627.000000,1684.000000,1617.000000,1414.000000,1641.000000
num_apts_prev_9hours,1287.000000,1103.000000,1018.000000,1548.000000,1091.000000
num_apts_next_9hours,407.000000,712.000000,667.000000,158.000000,647.000000
num_apts_same_day,1748.000000,1865.000000,1736.000000,1753.000000,1799.000000
num_apts_prev_day,1560.000000,1227.000000,1928.000000,1660.000000,1248.000000
num_apts_next_day,1266.000000,2080.000000,1671.000000,1049.000000,1832.000000
num_apts_same_2days,2826.000000,3307.000000,3599.000000,2709.000000,3080.000000
num_apts_prev_2days,3320.000000,2396.000000,4278.000000,3346.000000,2011.000000
num_apts_next_2days,3582.000000,2781.000000,3196.000000,3312.000000,3614.000000
...,...,...,...,...,...
price_q10_clust_all,0.200000,0.200000,0.500000,0.600000,0.800000
price_q100_clust_all,0.280000,0.240000,0.550000,0.630000,0.850000
price_q10_clust,0.300000,0.000000,0.700000,0.500000,0.700000
price_q100_clust,0.360000,0.020000,0.780000,0.570000,0.750000
area_density,2039.000000,2101.000000,3952.000000,462.000000,2797.000000
area_density_all,6907.000000,8064.000000,13793.000000,1182.000000,9988.000000
area_density_time,143.000000,196.000000,246.000000,51.000000,219.000000
area_density_time_all,468.000000,586.000000,928.000000,115.000000,752.000000
price_area_q,0.512997,0.033317,0.708502,0.415584,0.723632
price_area_q_all,0.336615,0.223834,0.556442,0.521997,0.835503
price_area_time_q,0.510490,0.030612,0.686992,0.352941,0.785388
price_area_time_q_all,0.314103,0.230375,0.552802,0.469565,0.872340
num_apts_at_manager,62.000000,26.000000,5.000000,178.000000,168.000000
num_apts_at_manager_q10,0.300000,0.100000,0.000000,0.600000,0.500000
num_apts_at_manager_q100,0.330000,0.160000,0.030000,0.610000,0.590000
private_manager,0.000000,0.000000,0.000000,0.000000,0.000000
num_photos,8.000000,3.000000,6.000000,6.000000,7.000000
has_photos,1.000000,1.000000,1.000000,1.000000,1.000000
photos_per_room,4.000000,1.000000,3.000000,2.000000,1.750000
price,2950.000000,2850.000000,3758.000000,3300.000000,4900.000000
log_price,7.989560,7.955074,8.231642,8.101678,8.496990
price_q10_all,0.400000,0.300000,0.600000,0.500000,0.800000
price_q100_all,0.420000,0.390000,0.680000,0.550000,0.840000
price_q10,0.500000,0.200000,0.800000,0.400000,0.800000
price_q100,0.510000,0.260000,0.800000,0.470000,0.820000
saddr_num_words,3.000000,3.000000,4.000000,5.000000,4.000000
saddr_has_number,1.000000,1.000000,1.000000,1.000000,1.000000
saddr_has_ordinal,0.000000,0.000000,1.000000,0.000000,1.000000
saddr_num_upper_words,0.000000,0.000000,0.000000,0.000000,0.000000
daddr_saddr_same,0.000000,0.000000,1.000000,0.000000,0.000000

In [24]:
print trf.values.shape
print tef.values.shape

(49352, 90)
(74659, 90)

# Get Script Data

In [25]:
data_path = "input/"
train_file = data_path + "train.json"
test_file = data_path + "test.json"
train_df = pd.read_json(train_file)
test_df = pd.read_json(test_file)
test_df['interest_level'] = np.nan
s_df = pd.concat([train_df, test_df])
print(s_df.shape)

(124011, 15)

In [26]:
features_to_use  = ["bathrooms", "bedrooms", "latitude", "longitude", "price"]

In [27]:
# transformation of lat and lng #
s_df["price_t"] = s_df["price"] / s_df["bedrooms"] 
s_df["room_dif"] = s_df["bedrooms"] - s_df["bathrooms"] 
s_df["room_sum"] = s_df["bedrooms"] + s_df["bathrooms"] 
s_df["price_t1"] = s_df["price"] / s_df["room_sum"]
s_df["fold_t1"] = s_df["bedrooms"] / s_df["room_sum"]

In [28]:
s_df["num_photos"] = s_df["photos"].apply(len)
s_df["num_features"] = s_df["features"].apply(len)
s_df["num_description_words"] = s_df["description"].apply(lambda x: len(x.split(" ")))
s_df["created"] = pd.to_datetime(s_df["created"])
s_df["passed"] = s_df["created"].max() - s_df["created"]
s_df["created_year"] = s_df["created"].dt.year
s_df["created_month"] = s_df["created"].dt.month
s_df["created_day"] = s_df["created"].dt.day
s_df["created_hour"] = s_df["created"].dt.hour

In [29]:
features_to_use.extend(["price_t","num_photos", "num_features", "num_description_words", 
                        "created_year", "created_month", "created_day", "created_hour",
                        "listing_id",'room_dif','room_sum','price_t1'])

In [30]:
categorical = ["display_address", "manager_id", "building_id", "street_address"]
for f in categorical:
        if s_df[f].dtype=='object':
            #print(f)
            lbl = sklearn.preprocessing.LabelEncoder()
            lbl.fit(list(s_df[f].values) + list(s_df[f].values))
            s_df[f] = lbl.transform(list(s_df[f].values))
            features_to_use.append(f)

In [31]:
s_df['features'] = s_df["features"].apply(lambda x: " ".join(["_".join(i.split(" ")) for i in x]))
print(s_df["features"].head())
tfidf = CountVectorizer(stop_words='english', max_features=400)
s_df_sparse = tfidf.fit_transform(s_df["features"])

10
10000     Doorman Elevator Fitness_Center Cats_Allowed D...
100004    Laundry_In_Building Dishwasher Hardwood_Floors...
100007                               Hardwood_Floors No_Fee
100013                                              Pre-War
Name: features, dtype: object

In [32]:
s_X = scipy.sparse.hstack([s_df[features_to_use], s_df_sparse]).tocsr()

In [33]:
sd = pd.DataFrame(s_X.todense(), index=d.index)

In [34]:
print sd.values.shape

(124011, 421)

In [35]:
s_feature_names = features_to_use
s_feature_names += ['tfidf_{0:03}'.format(i) for i in range(400)]
sd.columns = s_feature_names

In [36]:
sd.head()

,bathrooms,bedrooms,latitude,longitude,price,price_t,num_photos,num_features,num_description_words,created_year,...,tfidf_390,tfidf_391,tfidf_392,tfidf_393,tfidf_394,tfidf_395,tfidf_396,tfidf_397,tfidf_398,tfidf_399
id,,,,,,,,,,,,,,,,,,,,,
10,1.5,3.0,40.7145,-73.9425,3000.0,1000.0,5.0,0.0,95.0,2016.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10000,1.0,2.0,40.7947,-73.9667,5465.0,2732.5,11.0,5.0,9.0,2016.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100004,1.0,1.0,40.7388,-74.0018,2850.0,2850.0,8.0,4.0,94.0,2016.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100007,1.0,1.0,40.7539,-73.9677,3275.0,3275.0,3.0,2.0,80.0,2016.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100013,1.0,4.0,40.8241,-73.9493,3350.0,837.5,3.0,1.0,68.0,2016.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Combine Data Sets

In [37]:
del sd['bathrooms']
del sd['bedrooms']
del sd['created_month']
del sd['created_hour']
del sd['num_features']
del sd['latitude']
del sd['longitude']
del sd['num_photos']
del sd['price']

In [38]:
target_num_map = {'high':0, 'medium':1, 'low':2}
trln = np.array(trl.apply(lambda x: target_num_map[x]))

In [39]:
combined_tr_f = pd.merge(trf, sd, left_index=True, right_index=True)

In [40]:
combined_te_f = pd.merge(tef, sd, left_index=True, right_index=True)

In [41]:
combined_tr_f['interest_level'] = trln
combined_te_f['interest_level'] = np.nan

In [42]:
print combined_tr_f.values.shape
print combined_te_f.values.shape

(49352, 503)
(74659, 503)

In [43]:
combined_tr_f.to_csv('tmp/combined_train.csv')
combined_te_f.to_csv('tmp/combined_test.csv')